<a href="https://colab.research.google.com/github/DishaT-10/Pythonlab/blob/main/python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Disha Thakran
roll: 23/SCA/BCA(DS&BDA)/012
Class: VE

In [ ]:
print("Hello,world!")

Hello,world!

In [ ]:
a=10
a
print(type(a))

<class 'int'>

In [ ]:
a=int(input("enter a number"))
if(a%2==0):
    print("even")
else:
     print("odd")

enter a number13
odd

In [ ]:
a=int(input("enter a number"))
if(a>0):
  print("positive")
else:
  print("negative")

enter a number-3
negative

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print (a+b)

enter first number5
enter second number10
15

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))

max(a,b)
print(max)

enter first number3
enter second number5
<built-in function max>

In [ ]:
p=100
r=12
t=20
si=(p*r*t)/100
print(si)

240.0

In [ ]:
pi=2.14
r=int(input("enter radius"))
area=pi*r*r
print(area)

enter radius5
53.50000000000001

In [ ]:
a = int(input("Enter first number (a): "))
b = int(input("Enter second number (b): "))

print("Before swapping: a =", a, "b =", b)

temp = a
a = b
b = temp

print("After swapping: a =", a, "b =", b)

Enter first number (a): 5
Enter second number (b): 2
Before swapping: a = 5 b = 2
After swapping: a = 2 b = 5

In [ ]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial of", num, "is", factorial)

Enter a number: 4
Factorial of 4 is 24

In [ ]:
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Enter a string: hello
Number of vowels: 2

In [ ]:
s = input("Enter a string: ")
if s == s[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: hello
Not a palindrome

In [ ]:
principal = float(input("Enter principal amount: "))
rate = float(input("Enter rate of interest (%): "))
time = float(input("Enter time (in years): "))

simple_interest = (principal * rate * time) / 100

print("Simple Interest:", simple_interest)

Enter principal amount: 20
Enter rate of interest (%): 5
Enter time (in years): 1000
Simple Interest: 1000.0

In [ ]:
import math

radius = float(input("Enter the radius of the circle: "))
area = math.pi * radius ** 2

print("Area of the circle:", area)

Enter the radius of the circle: 5
Area of the circle: 78.53981633974483

In [ ]:
n = 5

for i in range(n):
    num = 1
    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [ ]:
import math

num = int(input("Enter a number: "))

hex_num = hex(num)
oct_num = oct(num)

sqrt_num = math.sqrt(num)

print(f"Hexadecimal equivalent: {hex_num}")
print(f"Octal equivalent: {oct_num}")
print(f"Square root: {sqrt_num}")

Enter a number: 3
Hexadecimal equivalent: 0x3
Octal equivalent: 0o3
Square root: 1.7320508075688772

In [ ]:
int_var = int(input("Enter an integer: "))
float_var = float(input("Enter a float: "))
str_var = input("Enter a string: ")
bool_input = input("Enter a boolean (True/False): ")
bool_var = bool_input.lower() == 'true'

print(f"Integer value: {int_var} (type: {type(int_var)})")
print(f"Float value: {float_var} (type: {type(float_var)})")
print(f"String value: '{str_var}' (type: {type(str_var)})")
print(f"Boolean value: {bool_var} (type: {type(bool_var)})")

Enter an integer: 3
Enter a float: 1.2
Enter a string: hello
Enter a boolean (True/False): true
Integer value: 3 (type: <class 'int'>)
Float value: 1.2 (type: <class 'float'>)
String value: 'hello' (type: <class 'str'>)
Boolean value: True (type: <class 'bool'>)

In [ ]:
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

s = (a + b + c) / 2
area = (s * (s - a) * (s - b) * (s - c)) ** 0.5

print("Area of the triangle is:", area)

Enter side a: 5
Enter side b: 7
Enter side c: 3
Area of the triangle is: 6.49519052838329

In [ ]:
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5

print("Distance between the points is:", distance)

Enter x1: 5
Enter y1: 3
Enter x2: 4
Enter y2: 5
Distance between the points is: 2.23606797749979

In [ ]:
num = int(input("Enter a number: "))
ones_place = num % 10
print("Digit at ones place:", ones_place)

Enter a number: 12
Digit at ones place: 2

In [ ]:
fahrenheit = float(input("Enter temperature in Fahrenheit: "))
celsius = (fahrenheit - 32) * 5 / 9
print("Temperature in Celsius:", celsius)

Enter temperature in Fahrenheit: 120
Temperature in Celsius: 48.888888888888886

In [ ]:
exam1 = float(input("Enter marks for Exam 1: "))
exam2 = float(input("Enter marks for Exam 2: "))
sports = float(input("Enter marks for Sports event: "))
activity1 = float(input("Enter marks for Activity 1: "))
activity2 = float(input("Enter marks for Activity 2: "))
activity3 = float(input("Enter marks for Activity 3: "))

exam_avg = (exam1 + exam2) / 2
activity_avg = (activity1 + activity2 + activity3) / 3

final_result = exam_avg * 0.50 + sports * 0.20 + activity_avg * 0.30

print("Final result (out of 100):", final_result)

Enter marks for Exam 1: 30
Enter marks for Exam 2: 90
Enter marks for Sports event: 5
Enter marks for Activity 1: 60
Enter marks for Activity 2: 80
Enter marks for Activity 3: 90
Final result (out of 100): 54.0

In [ ]:
n=int(input("enter no of rows"))

for i in range(1,n+1):
    for j in range(1,i+1):
        print("*", end="")
    print()

enter no of rows5
*
**
***
****
*****

In [ ]:
rows=int(input("enter no of rows"))

for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j , end="")
    print()

enter no of rows4
1
12
123
1234

In [ ]:
rows=int(input("enter no of rows"))
count=1
for i in range(1,rows+1):
    for j in range(i):
        print(count , end="")
        count+=1
    print()

enter no of rows4
1
23
456
78910

In [ ]:
n = 5

for i in range(n):
    print('*' * (n - i))

*****
****
***
**
*

In [ ]:
n = int(input("Enter the number of terms: "))

a, b = 0, 1

if n <= 0:
    print("Please enter a positive integer")
elif n == 1:
    print("Fibonacci series:", a)
else:
    print("Fibonacci series:", end=" ")
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

Enter the number of terms: 6
Fibonacci series: 0 1 1 2 3 5

In [ ]:
num = int(input("Enter a number: "))

rev = 0
while num > 0:
    digit = num % 10
    rev = rev * 10 + digit
    num //= 10

print("Reversed number:", rev)

Enter a number: 234567
Reversed number: 765432

In [ ]:
num = int(input("Enter a number: "))
count = 0
if num == 0:
    count = 1
else:
    while num > 0:
        num //= 10
        count += 1
print("Number of digits:", count)

Enter a number: 34789
Number of digits: 5

In [ ]:
year = int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print(year, "is a Leap Year")
else:
    print(year, "is Not a Leap Year")

Enter a year: 2023
2023 is Not a Leap Year

In [ ]:
num = int(input("Enter a number: "))
s = 0
while num > 0:
    s += num % 10
    num //= 10
print("Sum of digits:", s)

Enter a number: 2356
Sum of digits: 16

In [ ]:
num = int(input("Enter a number: "))
rev = 0
temp = num

while temp > 0:
    digit = temp % 10
    rev = rev * 10 + digit
    temp= 10

if num == rev:
    print("Palindrome Number")
else:
    print("Not a Palindrome Number")

In [ ]:
num = int(input("Enter a number: "))
sum = 0
temp = num
n = len(str(num))

while temp > 0:
    digit = temp % 10
    sum += digit ** n
    temp //= 10

if num == sum:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

In [ ]:

my_list = [5, 3, 8, 6, 3, 2]
print("Original list:", my_list)


length = len(my_list)
print("Length of list:", length)


print("Element at index 2:", my_list[2])
print("Slice from index 1 to 4:", my_list[1:5])


my_list.append(10)
print("After append 10:", my_list)


my_list.insert(2, 15)
print("After inserting 15 at index 2:", my_list)


my_list.remove(3)
print("After removing first occurrence of 3:", my_list)


my_list.sort()
print("Sorted ascending:", my_list)
my_list.sort(reverse=True)
print("Sorted descending:", my_list)


max_element = max(my_list)
min_element = min(my_list)
print("Maximum element:", max_element)
print("Minimum element:", min_element)


total = sum(my_list)
print("Sum of all elements:", total)


my_list.reverse()
print("Reversed list:", my_list)


count_3 = my_list.count(3)
print("Occurrences of 3:", count_3)


exists_8 = 8 in my_list
print("Does 8 exist in list?", exists_8)


my_set = set(my_list)
print("Set (duplicates removed):", my_set)


new_list = my_list.copy()
print("Copied list:", new_list)


another_list = [20, 30, 40]
merged_list = my_list + another_list
print("Merged list:", merged_list)

Original list: [5, 3, 8, 6, 3, 2]
Length of list: 6
Element at index 2: 8
Slice from index 1 to 4: [3, 8, 6, 3]
After append 10: [5, 3, 8, 6, 3, 2, 10]
After inserting 15 at index 2: [5, 3, 15, 8, 6, 3, 2, 10]
After removing first occurrence of 3: [5, 15, 8, 6, 3, 2, 10]
Sorted ascending: [2, 3, 5, 6, 8, 10, 15]
Sorted descending: [15, 10, 8, 6, 5, 3, 2]
Maximum element: 15
Minimum element: 2
Sum of all elements: 49
Reversed list: [2, 3, 5, 6, 8, 10, 15]
Occurrences of 3: 1
Does 8 exist in list? True
Set (duplicates removed): {2, 3, 5, 6, 8, 10, 15}
Copied list: [2, 3, 5, 6, 8, 10, 15]
Merged list: [2, 3, 5, 6, 8, 10, 15, 20, 30, 40]

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
print("Tuple:", my_tuple)


print("First element:", my_tuple[0])
print("Last element:", my_tuple[-1])
print("Slice [1:4]:", my_tuple[1:4])


print("Length of tuple:", len(my_tuple))


print("Is 30 in tuple?", 30 in my_tuple)
print("Is 100 in tuple?", 100 in my_tuple)


tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined = tuple1 + tuple2
print("Concatenated tuple:", combined)


repeated = tuple1 * 3
print("Repeated tuple:", repeated)


my_list = [7, 8, 9]
converted_tuple = tuple(my_list)
print("Converted from list:", converted_tuple)


a, b, c = converted_tuple
print("Unpacked values:", a, b, c)


x = 5
y = 10
x, y = y, x
print("Swapped values: x =", x, ", y =", y)


numbers = (4, 1, 7, 3, 9)
print("Sum:", sum(numbers))
print("Min:", min(numbers))
print("Max:", max(numbers))

Tuple: (10, 20, 30, 40, 50)
First element: 10
Last element: 50
Slice [1:4]: (20, 30, 40)
Length of tuple: 5
Is 30 in tuple? True
Is 100 in tuple? False
Concatenated tuple: (1, 2, 3, 4, 5, 6)
Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)
Converted from list: (7, 8, 9)
Unpacked values: 7 8 9
Swapped values: x = 10 , y = 5
Sum: 24
Min: 1
Max: 9

In [ ]:
t = (1, 2, 3, 2, 4, 1)
t1 = (1, 2, 3)
t2 = (4, 5, 6)
tuple_of_tuples = (('a', 1), ('b', 2))
palindrome_tuple = (1, 2, 3, 2, 1)

print("1. Count occurrences of 2:", t.count(2))

print("2. Index of 3 in t:", t.index(3))

asc = tuple(sorted(t))
desc = tuple(sorted(t, reverse=True))
print("3. Sorted ascending:", asc)
print("   Sorted descending:", desc)


d = dict(tuple_of_tuples)
print("4. Tuple of tuples to dictionary:", d)


duplicates = set(x for x in t if t.count(x) > 1)
print("5. Duplicate elements:", duplicates)


print("6. Are t1 and t2 equal?:", t1 == t2)


unique = tuple(set(t))
print("7. Tuple without duplicates:", unique)


merged = t1 + t2 + (7, 8)
print("8. Merged tuple:", merged)


sum_tuple = tuple(a + b for a, b in zip(t1, t2))
print("9. Element-wise sum:", sum_tuple)


print("10. Is palindrome_tuple a palindrome?:", palindrome_tuple == palindrome_tuple[::-1])

1. Count occurrences of 2: 2
2. Index of 3 in t: 2
3. Sorted ascending: (1, 1, 2, 2, 3, 4)
   Sorted descending: (4, 3, 2, 2, 1, 1)
4. Tuple of tuples to dictionary: {'a': 1, 'b': 2}
5. Duplicate elements: {1, 2}
6. Are t1 and t2 equal?: False
7. Tuple without duplicates: (1, 2, 3, 4)
8. Merged tuple: (1, 2, 3, 4, 5, 6, 7, 8)
9. Element-wise sum: (5, 7, 9)
10. Is palindrome_tuple a palindrome?: True

In [ ]:
investment = float(input("Enter initial investment: "))
rate = float(input("Enter annual interest rate (%): "))
years = int(input("Enter number of years: "))

for i in range(1, years + 1):
    investment = investment + (investment * rate / 100)
    print("Year", i, ":", investment)

Enter initial investment: 30000
Enter annual interest rate (%): 5
Enter number of years: 4
Year 1 : 31500.0
Year 2 : 33075.0
Year 3 : 34728.75
Year 4 : 36465.1875

In [ ]:
string = input("Enter a string: ")
char = input("Enter the character to count: ")

count = 0
for c in string:
    if c == char:
        count += 1

print(f"The character '{char}' occurs {count} times in the string.")

Enter a string: hello
Enter the character to count: l
The character 'l' occurs 2 times in the string.

In [ ]:
string = input("Enter a string: ")

vowels = "aeiouAEIOU"
result = ""

for ch in string:
    if ch not in vowels:
        result += ch

print("String after removing vowels:", result)

Enter a string: hello world
String after removing vowels: hll wrld

In [ ]:
students = {}

def add_student():
    name = input("Enter Student Name: ").strip().title()
    courses = input("Enter courses (comma separated): ").split(",")
    students[name] = set(c.strip().title() for c in courses)
    print("Student added!")

def show_students():
    if not students:
        print("No students yet!")
    else:
        for name, courses in students.items():
            print(name, ":", courses)

def students_in(course):
    return {name for name, c in students.items() if course in c}

while True:
    print("\n=== STUDENT COURSE MANAGEMENT ===")
    print("1. Add Student")
    print("2. Show Students")
    print("3. Students in BOTH courses")
    print("4. Students in EITHER course")
    print("5. Students in 1st but NOT 2nd")
    print("6. Students in 2nd but NOT 1st")
    print("7. Students ONLY in one course")
    print("8. Subset check")
    print("9. Superset check")
    print("10. Disjoint check")
    print("11. Exit")

    ch = input("Enter choice: ")

    if ch == "1":
        add_student()

    elif ch == "2":
        show_students()

    elif ch in ["3","4","5","6","7","8","9","10"]:
        c1 = input("Enter first course: ").title()
        c2 = input("Enter second course: ").title()
        s1, s2 = students_in(c1), students_in(c2)

        if ch == "3": print("BOTH:", s1 & s2)
        elif ch == "4": print("EITHER:", s1 | s2)
        elif ch == "5": print(f"{c1} NOT {c2}:", s1 - s2)
        elif ch == "6": print(f"{c2} NOT {c1}:", s2 - s1)
        elif ch == "7": print("ONLY one course:", s1 ^ s2)
        elif ch == "8": print(f"{c1} ⊆ {c2}:", s1.issubset(s2))
        elif ch == "9": print(f"{c1} ⊇ {c2}:", s1.issuperset(s2))
        elif ch == "10": print("Disjoint:", s1.isdisjoint(s2))

    elif ch == "11":
        print("Exiting...")
        break
    else:
        print("Invalid choice!")

=== STUDENT COURSE MANAGEMENT ===
1. Add Student
2. Show Students
3. Students in BOTH courses
4. Students in EITHER course
5. Students in 1st but NOT 2nd
6. Students in 2nd but NOT 1st
7. Students ONLY in one course
8. Subset check
9. Superset check
10. Disjoint check
11. Exit

In [ ]:

name = input("Enter your name: ")

age = int(input("Enter your age: "))

current_year = 2025
year_turn_100 = current_year + (100 - age)


print(f"Hello {name}, you will turn 100 years old in the year {year_turn_100}.")

Enter your name: disha
Enter your age: 21
Hello disha, you will turn 100 years old in the year 2104.

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
num = int(input("Enter a number: "))
print([x for x in a if x < num])

Enter a number: 5
[1, 1, 2, 3]

In [ ]:
while True:
    player1 = input("Player 1, enter Rock, Paper, or Scissors: ").lower()
    player2 = input("Player 2, enter Rock, Paper, or Scissors: ").lower()

    if player1 == player2:
        print("It's a tie!")
    elif (player1 == "rock" and player2 == "scissors") or \
         (player1 == "scissors" and player2 == "paper") or \
         (player1 == "paper" and player2 == "rock"):
        print("Player 1 wins!")
    elif (player2 == "rock" and player1 == "scissors") or \
         (player2 == "scissors" and player1 == "paper") or \
         (player2 == "paper" and player1 == "rock"):
        print("Player 2 wins!")
    else:
        print("Invalid input! Please enter Rock, Paper, or Scissors.")

    play_again = input("Do you want to play again? (yes/no): ").lower()
    if play_again != "yes":
        print("Thanks for playing!")
        break

Player 1, enter Rock, Paper, or Scissors: rock
Player 2, enter Rock, Paper, or Scissors: paper
Player 2 wins!
Do you want to play again? (yes/no): no
Thanks for playing!

In [ ]:
import random

number = random.randint(1, 9)

guess = int(input("Guess a number between 1 and 9: "))

if guess < number:
    print("Too low!")
elif guess > number:
    print("Too high!")
else:
    print("Exactly right!")

Guess a number between 1 and 9: 5
Too high!

In [ ]:
import random
import string

def generate_password(length=12):
    characters = string.ascii_letters + string.digits + string.punctuation
    password = ''.join(random.choice(characters) for _ in range(length))
    return password

def main():
    while True:
        length = int(input("Enter password length: "))
        print("Your new password is:", generate_password(length))
        again = input("Generate another password? (yes/no): ").lower()
        if again != "yes":
            print("Goodbye!")
            break

if __name__ == "__main__":
    main()

Enter password length: 8
Your new password is: dO(oF1qI
Generate another password? (yes/no): no
Goodbye!

In [ ]:
def is_in_list(ordered_list, number):
    if number in ordered_list:
        return True
    else:
        return False


a = [1, 3, 5, 7, 9, 11, 13]
num = int(input("Enter a number to search for: "))
result = is_in_list(a, num)
print(result)

Enter a number to search for: 9
True

In [ ]:
birthdays = {
    "Alice": "January 5, 1995",
    "Bob": "March 12, 1992",
    "Charlie": "July 23, 1998",
    "Diana": "October 30, 1994"
}

print("Welcome to the birthday dictionary. We know the birthdays of:")
for name in birthdays:
    print(name)

name = input("\nWhose birthday do you want to look up? ")

if name in birthdays:
    print(f"{name}'s birthday is {birthdays[name]}.")
else:
    print(f"Sorry, we don’t have the birthday information for {name}.")

Welcome to the birthday dictionary. We know the birthdays of:
Alice
Bob
Charlie
Diana

Whose birthday do you want to look up? Alice
Alice's birthday is January 5, 1995.

In [ ]:
try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    result = x / y
    print("The result is:", result)
except ValueError:
    print("Error: Please enter valid numbers only.")
except ZeroDivisionError:
    print("Error: You cannot divide by zero.")
except Exception as e:
    print("An unexpected error occurred:", e)
finally:
    print("Program finished.")

Enter a number: 246
Enter another number: 34
The result is: 7.235294117647059
Program finished.

In [ ]:
print("Welcome to the Mad Libs Game!")

# Ask the user for various inputs
name = input("Enter a name: ")
adjective = input("Enter an adjective: ")
noun = input("Enter a singular noun: ")
verb = input("Enter a verb: ")
place = input("Enter a place: ")
plural_noun = input("Enter a plural noun: ")

# Create the story template and insert the user inputs
story = f"""
Once upon a time, there was a person named {name}.
They were very {adjective} and loved to {verb} every day.
One day, they found a {noun} in {place}.
To their surprise, it turned into {plural_noun}!
And everyone lived happily ever after.
"""

# Print the completed story
print("\nHere is your Mad Libs story:")
print(story)

Welcome to the Mad Libs Game!
Enter a name: alice
Enter an adjective: brave
Enter a singular noun: sword
Enter a verb: explore
Enter a place: forest
Enter a plural noun: dragons

Here is your Mad Libs story:

Once upon a time, there was a person named alice.
They were very brave and loved to explore every day.
One day, they found a sword in forest.
To their surprise, it turned into dragons!
And everyone lived happily ever after.